

.navRoutes{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.links{
    border: 2px solid transparent;
  border-radius: 5px;
}
.activeTab{
  border: 2px solid red;
  border-radius: 5px;
}
