

.navRoutes{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}

.links{
  padding: 5px;
    border: 5px solid transparent;
  border-radius: 5px;
   text-decoration: none;
   color: black;
   font-size: x-large;
   /* transition: 0.2s ease-in-out; */
}
.activeTab{
   padding: 5px;
  border: 5px solid red;
  border-radius: 5px;
   text-decoration: none;
  color: black;
  font-size: x-large;
  transition: 0.2s ease-in-out;
}
